.Project{
    overflow-x: hidden;
}

.Project h1{
    text-align: center;
    margin-bottom: 10px;
}

.Project .gallery{
    padding: 0 20%;
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    column-gap: 5%;
}

.Project .ProjectPreview{
    width: 20vw;
    height: 20vw;
    margin-bottom: 10px;
}

h2{
    text-align: center;
}

.Project .ProjectPreview img,
.Project .ProjectPreview video,
.Project .ProjectPreview .VideoPlayer{
    border-radius: 0.5em;
    transition: all 0.2s ease-in-out;
}

.Project .ProjectPreview img:hover,
.Project .ProjectPreview video:hover,
.Project .ProjectPreview .VideoPlayer:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(0.95);
    transition-duration: 0.2s;
}

.ProjectPreviewPopUp{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
}

.ProjectPreviewPopUp .black-background{
    position: absolute;
    top: 0;
    width: inherit;
    height: 2000px;
    z-index: 0.5;
    background-color: #0008;
}

.ProjectPreviewPopUp video, .ProjectPreviewPopUp img, .ProjectPreviewPopUp .VideoPlayer{
    position: relative;
    top: 10vh;
    object-fit: contain;
    max-width: 70vw;
    max-height: 70vh;
    z-index: 1;
}

.Project-Footer{
    margin: 10em 20%;
}

.Project-Footer h1{
    margin: 2em 0;
    font-size: 30px;
}

.Project-Footer .ProjectTypeGallery{
    margin: 0;
    grid-template-columns: repeat(4, 15vw);
    column-gap: 5%;
}

.Project-Footer .ProjectTypeGallery .WorkPreview{
    width: 15vw;
    height: 15vw;
}


/*----------------- media query for .gallery -----------*/
@media (max-width: 768px){
    .Project .gallery{
        grid-template-columns: repeat(2, 45%);

    }

    .Project .gallery .ProjectPreview{
        align-self: center;
        width: 12em;
        height: 12em;
    }

    .Project-Footer .ProjectTypeGallery{
        margin: 0;
        grid-template-columns: repeat(2, 45%);
    }

    .Project-Footer .ProjectTypeGallery .WorkPreview{
        align-self: center;
        width: 12em;
        height: 12em;
    }

    .Project-Footer .ProjectTypeGallery .WorkPreview h2{
        font-size: 20px;
    }
}


@media (max-width: 426px){
    .Project .gallery{
        grid-template-columns: repeat(1, 100%);
    }

    .Project .gallery .ProjectPreview{
        align-self: center;
        width: 16.5em;
        height: 16.5em;
    }

    .Project-Footer .ProjectTypeGallery{
        grid-template-columns: repeat(1, 100%);
    }

    .Project-Footer .ProjectTypeGallery .WorkPreview{
        align-self: center;
        width: 16.5em;
        height: 16.5em;
    }
}




/* ------------------------------------------------------- */